.footer {
  background-color: #eaeaea;
  text-align: left;
  padding: 40px;
  padding-left: 70px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5%;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section li {
  margin-bottom: 8px;
  color: rgb(0, 55, 99);
}

.footer-section li:hover {
  text-decoration: underline;
}

.imagesFooter {
  width: 40%;
}
